// Fonts
$main-font: 'Roboto', sans-serif;
$decor-font: 'Baloo Bhai 2', cursive;
$main-fz: 16px;
$secondary-fz: 36px;
$big-fz: 64px;

// Colors
$main-color: #000000;
$white: #ffffff;
$grey: #F5F5F7;

$brad-size: 14px;

